
body {
    margin: 0;
    padding: 0;
    background-color: #111;
}
.large-header{
    position: relative;
    width: 100%;
    background: #111;
    overflow-x: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.demo .large-header{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main{
    width: 90%;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top:0%;
    left: 0%;
    height: 100%;
    /*-webkit-transform: translate3d(-50%,-50%,0);
    /*transform: translate(-50%,-50%,0);*/
}
.demo .main{
    text-align: left;   
    z-index: 2;

}
.titulo{
    width: 80%;
    top:0%;
position:relative;
}


.main .thin{
    font-family: 'Zen Dots';
    
    font-weight: 200;
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;

}
.nomes{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;

    color: #FFF;
    font-family: 'Geo', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.fctc{
    width: 60%;
    position: absolute;
   
    text-align: center;
    top:0%;
    left: 0%;
    

    
}
.Beatriz{
    position: absolute;
   
    text-align: center;
    top:0%;
    left: 50%;
    
}
.MDM{
    position: absolute;
    padding: 0;
   
    text-align: center;
    top:0%;
    right: 0%;
   

}


@media only screen and (max-width: 1010px){
    .navegação{
        flex-wrap: wrap;
    }
    
    
}



.navegação{
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    display: inline-flex;
    width: 90%;
    height: auto;
    flex-shrink: 0;

    border-radius: 7px;
    background: rgba(0, 0, 0, 0.57);



    color: #FFF;
    font-family: 'Geo', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    height: 0;
  overflow: hidden;
  transition: height 0.3s ease; /* adjust the duration and timing function as needed */
}
.navegação.open {
    height: auto; /* or specify the desired height when open */

  }
#toggleButton{

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;

    position: relative;
 
    display: inline-flex;
    width: auto;
    height: auto;
    flex-shrink: 0;

    border-radius: 7px;
    background: rgba(0, 0, 0, 0.57);


border: #111;
    color: #FFF;
    font-family: 'Geo', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.navegação button,input{

    color: #FFF;
    font-family: 'Geo', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 157px;
height: 27px;
flex-shrink: 0;

border: 1px solid rgba(255, 255, 255, 0.57);
background-color: #111;
}
#formula{
    display: inline-flex;
    flex-direction: column;
    margin: 40px;
}
#inicial{
    display: grid;
    margin-right: 20px;
}

#inicial input{
    width: 157px;
    height: 26px;
    flex-shrink: 0;
    background-color: #111;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.57);
    margin-top: 10px;
}

#final{
    display: grid;
}

#final input{
    margin-top: 10px;
    width: 157px;
    height: 26px;
    flex-shrink: 0;
    background-color: #111;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.57);
}
#submete{
    background-color: #111;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.57);
   
}
#data{
    display: inline-flex;
    align-content: space-around;
    margin-bottom: 15px;
}

#ordenar{
    display: inline-flex;
    flex-direction: column;
    margin: 40px;
}
#ordenar label,button{
    margin-bottom: 15px;
}
#filtrar{
    margin: 30px;

}
#filtro{
    display: grid;
}

#opçoes {
    display: block;
    margin-top: 15px;
}
#opçoes button{
    margin-right: 20px;
}




#article-container{
    position: relative;
    width: 584px;
    height: 102px;
    flex-shrink: 0;

    margin-top:5% ;
    margin-bottom: 5%;

}

.main1{
    position: relative;
}
.main2{
    position: absolute;
    top:70%;
    width: 100%;
}


.error-message {
    color: red;
    font-weight: bold;
}



  

      /* Base Styles for Articles */
      /*computador*/
@media only screen and (min-width:1020px){
   

    .articleBase {
        position: relative;
        margin-bottom: 40px; 
        width: 90vw;
        display: grid;
    }
    /* Base Styles for Text */
.textoArticBase {
    position: absolute;
    top: 0;
    width: 50vw; /* Removed duplicate width property */
    z-index: 4;
    
}
 
.imagem {
    position: relative;
    width: 60vw;

  }
        
     
}
/*tablet*/
@media only screen and (min-width:768px) and (max-width:1020px){
   
    .articleBase {
        position: relative;
        margin-bottom: 40px; 
        width: 90vw;
        height: 80vh;
        display: grid;
    }
    /* Base Styles for Text */
.textoArticBase {
    position: absolute;
    top: 0;
    width: 50vw; /* Removed duplicate width property */
    z-index: 4;
    
}
 
.imagem {
    position: relative;
    width: 60vw;

  }
    
 
}
/*telemovel*/
@media only screen and (max-width:768px){
   

    .articleBase {
        position: relative;
        margin-bottom: 40px; 
        width: 90vw;
        display: grid;
    }
       
    .main .thin {
        font-family: 'Zen Dots';
        font-weight: 200;
        text-transform: uppercase;
        font-size: 2.5em;
        letter-spacing: 0.1em;
    }
    .textoArticBase {
        position: relative;
        top: 0;
        width: 90vw; /* Removed duplicate width property */
        z-index: 4;
        
    } 
     
  .imagem {
    position: relative;
    width: 90vw;

  }   
}



/* Modifier for Par Articles */
.articleEven {
    justify-items: end;
}

/* Modifier for Impar Articles */
.articleOdd {
    justify-items: start;
}



/* Modifier for Par Text */
.textoArticEven {
    margin-left: 10%;
    left: 0;
}

/* Modifier for Impar Text */
.textoArticOdd {
    margin-right: 10%;
    right: 0;
}

.textoArticBase h2 {
    font: 3em Geo;
}

.textoArticBase h3 {
    font: 2em Geo;
    margin-top: 0;
    margin-bottom: 0;
}

.textoArticBase p {
    font: 1.1em Lexend;
    color: #f9f1e9ae;
}

